body.signin-body {
    background-color: #E6F2FF;
}

.signin-container {
    margin-top: 20%;
}

.signin-card {
    padding: 40px 0px 20px;
    background-color: #F4F4F4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

img.signin-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}

form.signin-form {
    max-width: 350px;
    margin: auto;
}

button.signin-btn {
    color: white;
    width: 100%;
    font-size: 20px;
    margin-bottom: 1.2rem;
}

.createnewaccount {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}