p {
    color: white;                 
}
a {
    color: mediumblue;
}
body {
    font-size: 1cm;
    color:greenyellow;
    background-color: black;
}
h1 {
    color:red ;
}
h2{
    color:darkorange;
}